@import "./variables.css";
@import "./reset.css";

body {
  background-image: linear-gradient(
    var(--primary-gradient-color),
    var(--secondery-gradient-color)
  ),
  url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  color: var(--text-color);
  min-height: 100vh;
}

.title {
  font-size: x-large;
  position: absolute;
  padding: var(--spacing-large);
}

.details {
  display: flex;
  align-items: flex-end;
  padding: var(--spacing-large);
}
  
.details-container {
  display: flex;
  align-items:flex-end;
  min-height: 90vh;
  padding: var(--spacing-large);
}

.img {
  border: var(--border-image);
  width: 300px;
  height: 450px;
}

.movie-name {
  font-size: x-large;
}

.rate {
  color: var(--secondery-text-color);
  font-size: bold;
  padding-left: var(--spacing-small);
}

.summary {
  display: block;
  padding-top: var(--spacing-large);
}