@import "./variables.css";

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  color: var(--text-color);
}

.img {
  border: var(--border-image);
  width: 300px;
  height: 450px;
}

.movie-section {
  display: flex;  
}

.movie-details {
  display: flex;
}

.rate {
  color: var(--secondery-text-color);
}