.page-header {
  text-align: center;
  padding: var(--spacing-large);
  font-weight: bold;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--img-size), 1fr));
}

.img {
  display: block;
  width: 100%;
  height: 300px;
}

.test1 {
  position: relative;
}

.movie-details {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity: 1;
  left: 0;
  top: 0;
  color: var(--text-color);
}

/*.movie-details:hover {
  opacity: 1;
}


